body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  

  h2{
      text-align: center;
  }
  
  div div a input[type=button] {
    background-color: rgb(0, 119, 255);
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  div div a input[type=button]:hover {
    background-color: rgb(0, 68, 255);
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    margin-top: 1em;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .column:not(#test1)
  {
    display: flex;
    justify-content: center;
  }

  .container .row
  {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-right: 0;
    margin-left: 0;
  }
  
  /* Clear floats after the columns */

  img:not(#bonneAnnonceImg){

  }
  p{
    margin: 1em;
    text-align: center;
  }
  div div a input{
    margin-left: 42%;
  }

  .allwrapper{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
  }

  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 1000px) {
    .column, div div a input[type=button] {
      width: 100%;
      margin-top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    img{
      padding-top: 0%;
      height:35vw;
      margin-left: auto;
      margin-right: auto;
    }
    div div a input{
      margin-left: 0%;
    }

    #rowAnnonce
    {
      margin-left: 0;
      margin-right: 0;
    }
  }

#calendarmain
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#calendarpopup
{
  display: none;
  background-color: white;
  flex-direction: column;
  align-items: center;
  padding-right: 2vw;
  padding-left: 2vw;
  position: absolute;
  z-index: 2;
  border: solid black 1px;
  border-radius: 0 17.5px 17.5px 17.5px;
}

#calendarpopupcontrols
{
  color: red;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

#cross
{
  position: absolute;
  top: 0.5vh;
  right: 0.5vw;
}

#cross:hover
{
  color: darkred;
}

#calendarpopupcontent
{
  margin-bottom: 2vh;
}

#calendarLoading
{
  color: blue;
  justify-content: center;
  width: 100%;
}

#maincontainerannounce
{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}