body {
	margin:0px 0;
	min-height:100vh;
	display:flex;
	flex-direction:column;
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#subscribeform
{
	margin-top: 5vh;
	max-width: 30vw;
}

@media (min-width: 992px) {
	#Consubbutton
	{
	position: absolute;
	right: 4vw;
	top: initial;
	}
}

#home, #presentationnavbutton, #personnellesnavbutton, #produitsnavbutton, #eventsnavbutton, #dropdownheader, #dropdownprofile, #postannounce
{
	font-size: 1.5rem;
}

footer.footer {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.invalid-feedback
{
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 700;
}

header.masthead {
	position: relative;
	background-color: #343a40;
	background: url("../img/bg-masthead.jpg") no-repeat center center;
	background-size: cover;
	padding-top: 8rem;
	padding-bottom: 8rem;
}

header.masthead .overlay {
	position: absolute;
	background-color: #212529;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0.3;
}

header.masthead h1 {
	font-size: 2rem;
}

@media (min-width: 768px) {
	header.masthead {
		padding-top: 12rem;
		padding-bottom: 12rem;
	}
	header.masthead h1 {
		font-size: 3rem;
	}
}

#contentmyaccount
{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
}

#contentmyaccount iframe
{
	min-width: 60vw;
	max-width: 70vw;
	min-height: 50vh;
	max-height: 60vh;
}

#Libre
{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}