<div class="container">
    <div class="row" id="rowAnnonce">
      <div class="column">
        <img src="{{annonce.IMAGE1}}" height="200">
      </div>
      <div class="column" id='test1'>
        <h5 class="mt-0">{{annonce.Titre}}</h5>
        <p>{{annonce.Description}}</p>  
        <a href="?page=annonce&annonce={{annonce.IDannonce}}"><input type='button' value='Voir Plus'></a>
      </div>
    </div>
  </div>
  