<header>
    <nav class="navbar navbar-expand-lg justify-content-start d-flex flex-row py-9 bg-primary" id="headernav">
        <!--<a class="navbar-brand mb-0 h1"><img id="logoheader" src="" width="100" height="60" class="d-inline-block align-top" alt=""></a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" id="navbarTogglerbt" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""><i class="fas fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="nav nav-pills navbar-nav mr-auto mt-2 mt-lg-0 w-100">
                <li class="nav-item text-center">
                    <a class="nav-link text-light" href="index.php" id="home"><i class="fas fa-home"></i> Accueil</a>
                </li>
                
                {% if Session is defined %}
                {% if Group == 1 %}
                <li class="nav-item text-center">
                    <a href="?page=post" class="nav-link text-light" id="postannounce" >Poster une annonce </a>
                </li>
                {% endif %}
                <li class="nav-item dropdown  text-center dditemsprofile" id="profilebutton">
                    <a class="nav-link dropdown-toggle dditemsprofile text-light" id="dropdownprofile" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i> Profil</a>
                    <div class="dropdown-menu dditemsprofile" id="dropdownprofilemenu">
                        <a class="dropdown-item dditemsprofile" id="paramsb" href="#"><i class="fas fa-tools"></i> Paramètres</a>

                        <a class="dropdown-item dditemsprofile" id="myaccountbt" href="#"><i class="fas fa-user-circle"></i> Mon compte</a>

                        <a class="dropdown-item dditemsprofile" id="deconnexionbt" href="#"><i class="fas fa-user-slash"></i> Se déconnecter</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item dropdown text-center dditems" id="Consubbutton">
                    <a class="nav-link dropdown-toggle dditems text-light" id="dropdownheader" data-toggle="dropdown" href="#" data-target="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-users"></i> S'inscrire/connecter</a>
                    <div class="dropdown-menu dditems" id="DropdownMenu">
                        <form id="dropdownformheader" class="px-4 py-3 dditems" method="post">
                            <div class="form-group dditems">
                                {% if Failed is defined and Failed == "mdp" %}
                                <div class='invalid-feedback'>
                                Le mot de passe est éronné !
                                </div>
                                {% elseif Failed is defined and Failed == "user" %}
                                <div class='invalid-feedback'>
                                    L'utilisateur auquel vous tentez de vous connecter n'existe pas !
                                </div>
                                {% endif %}
                                <label for="emaillogin" class="dditems">Adresse email</label>
                                <input type="email" class="form-control dditems" id="emaillogin" name="emaillogin" placeholder="email@example.com" required>
                            </div>
                            <div class="form-group dditems">
                                <label for="passwordlogin" class="dditems">Mot de passe</label>
                                <input type="password" class="form-control dditems" id="passwordlogin" name="passwordlogin" placeholder="" required>
                            </div>
                            <div class="form-group dditems">
                                <div class="form-check dditems">
                                    <input type="checkbox" class="form-check-input dditems" id="dropdownCheck">
                                    <label class="form-check-label dditems" for="dropdownCheck">
                                        Se souvenir de moi
                                    </label>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary dditems" name="submitlogin" id="submitloginbutton" value="Se connecter">
                        </form>
                        <div class="dropdown-divider dditems"></div>
                        <a class="dropdown-item dditems" id="inscriptionbutton" href="#">Vous n'êtes pas inscrit ? cliquez-ici</a>
                        <a class="dropdown-item dditems" href="#">Mot de passe oublié ?</a>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>